.btn-primary-entrar {
  width: 100%;
  display: block;
}

.btn-primary-salvar {
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
  display: block;
  margin: 20px auto 0 auto;
  position: static;
}

.btn-secondary {
  width: 200px;
  height: 50px;
  font-size: 1.1rem;
  display: block;
  margin: 20px auto 0 auto;
}
